!!!
.wrapper
  .flash
  .leftwrapper
    .leftcontent
      .username
        %h1= current_user.name
        %li.username__icons
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
          = link_to edit_user_path(current_user.id) do
            %i.fa.fa-cog

      = render partial: "newmessage"

  .rightwrapper
    .rightcontent
      .header
        .header__left
          %h3= @group.name
          %p Member :
          - @member.each do |m|
            %p= m.name
        .header__right
          = link_to edit_group_path(@group) do
            Edit
      .body
        = render @messages
      .footer
        .form
        = form_for [@group, @message] , html: {id: "new_message"} do |f|
          = f.text_field :body, placeholder: "type a message", class: "form__message"
          .form__right
            = f.label :image, class: "form__right_label" do
              = fa_icon "picture-o"
              = f.file_field :image, class: "hide"
          = f.submit "Send", class: "form__submit"
