= form_for @group do |f|

  -if @group.errors.any?
    .chat-group-form__errors
      #error_explanation
        %h2= "#{ (@group.errors.count) } 件のエラーがあります。"
        %ul
          - @group.errors.full_messages.each do |msg|
            %li= msg


  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "グループ名",:name , class: "chat-group-form__label",for: "chat_group_name"
    .chat-group-form__field--right
      = f.text_field :name ,placeholder: "グループ名を入力してください" ,class: "chat-group-form__input", id: "chat_group_name"

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label{class: "chat-group-form__label", for: "chat_group_チャットメンバーを追加"}チャットメンバーを追加
    .chat-group-form__field--right
      %input{type: "text", placeholder: "追加したいユーザー名を入力してください", class: "chat-group-form__input", id: "user-search-field"}
      .chat-group-form__search.clearfix
        .chat-group-user.clearfix
        = f.hidden_field :current_user, value: current_user.name
      #user-search-result
        .chat-group-user.clearfix.js-chat-member

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label{class: "chat-group-form__label" ,for: "chat_group_チャットメンバー"}チャットメンバー
    .chat-group-form__field--right
      = f.hidden_field :current_user, class: "chat-group-form__input", id: "user-search-field", value: current_user.id
      = f.hidden_field :current_user, class: "chat-group-form__input", id: "user-search-field", value: current_user.name
      .chat-group-form__search.clearfix
        .chat-group-user.clearfix
        = f.hidden_field :user_id, name: "group[user_ids][]", value: current_user.id
      #member-list
        - @members.each do |user|
          .chat-group-user.clearfix.js-chat-member
            %p{class: "chat-group-user__name"}#{user.name}
            = f.hidden_field :user_id, name: "group[user_ids][]", value: user.id
            %a{class: "user-search-remove chat-group-user__btn chat-group-user__btn--remove"}削除

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "登録する", name: "commit", class: "chat-group-form__action-btn"
